body{
    margin: 0;
    font-family: Calibri,Arial;
    background-color: darkcyan;
}

header{
    display: inline;
}

h1{
    font-size: 110px;
    text-align: center;
    font-weight: bold;
    color: lightpink;
}
footer{
    text-align: center;
    color: lightpink;
}

a{
    text-decoration: none;
}

li {
    display: inline;
    float: left;
    font-size: 30px;
    margin-left: 1%;


}
ul{
    display: block;
    text-align: center;
}

ul a{
    color: darkcyan;
    background-color: lightpink;
    padding:5px 10px 5px 10px;

}

ul a:hover{
    color: lightpink;
    background-color: darkcyan;
    border: 2px solid lightpink;
}

.hoofdimg{
    display: inline;
    margin: 10px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.errotext{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: lightpink;
}
.midden{
    font-size: 60px;
    background-color: lightcoral;
    height: 800px;
    margin-top: 200px;
    padding-left: 5%;
}

.venuelist{
    width: 700px;
    height: 300px;
    margin-left: 5%;
    padding: 10px;
}
.venuelist a{
    font-size: 50px;
    color: darkcyan;
    background-color: lightpink;
    display: block;
    text-align: center;
    padding:10px;
    margin: 10px;
}
.venuelist a:hover{
    color: lightpink;
    background-color: darkcyan;
    border: 2px solid lightpink;
}
