body{
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
    background-color: darkcyan;
}

header{
    display: inline;
}

h1{
    font-size: 11rem;
    text-align: center;
    font-weight: bold;
    color: lightpink;
}
footer{
    text-align: center;
    color: lightpink;
}

a{
    text-decoration: none;
}

li {
    display: inline;
    float: left;
    font-size: 3rem;
    margin-left: 1%;


}
ul{
    display: block;
    text-align: center;
}

ul a{
    color: darkcyan;
    background-color: lightpink;
    padding:5px 10px 5px 10px;

}

ul a:hover{
    color: lightpink;
    background-color: darkcyan;
    border: 2px solid lightpink;
}

.hoofdimg{
    display: inline;
    margin: 1rem;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.errotext{
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    color: lightpink;
}
.midden{
    font-size: 6rem;
    background-color: lightcoral;
    height: 80rem;
    margin-top: 20rem;
    padding-left: 5%;
}

.venuelist{
    width: 70rem;
    height: 30rem;
    margin-left: 5%;
    padding: 1rem;
}
.venuelist a{
    font-size: 5rem;
    color: darkcyan;
    background-color: lightpink;
    display: block;
    text-align: center;
    padding:1rem;
    margin: 1rem;
}
.venuelist a:hover{
    color: lightpink;
    background-color: darkcyan;
    border: 2px solid lightpink;
}
