<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
<head>
    <meta charset="UTF-8">
    <title>foutje</title>
</head>
<body>
    <header>
        <h1 class="errotext"> opgegeven pagina bestaat niet, klik <a th:href="@{/home}">hier</a> aan om terug te gaan naar de homepage</h1>
    </header>

    <div th:replace="fragments/footer":: th:footer="">Footer</div>

</body>
</html>