<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
</head>
<body>
<h1 th:text="${appName}+' --- '+${appName}">appname</h1>
<h2><p th:text="${venuneName}">venuedetails</p></h2>
<a th:href="@{/about}">about</a>
<a th:href="@{/home}">home</a>
<a th:href="@{/venuedetails/De Carré}">De Carré</a>
<a th:href="@{/venuedetails/De Loods}">De Loods</a>
<a th:href="@{/venuedetails/Sportpaleis}">Sportpaleis</a>


</body>
</html>